body{
	font-family: "微软雅黑";
	width:100%;height:100%;
}
@font-face {
	font-family:'fangzheng';
	src:  url(../fonts/fz.TTF);
}
.side-nav{ 
 position: fixed; 
 top: 45%; 
 right: 20px; 
 z-index: 1; 
} 
.side-nav ul{ 
 text-align: center; 
 list-style: none; 
 margin: 0; 
 padding-left: 0; 
} 
.side-nav ul li{ 
 display: block; 
 line-height: 1.45em; 
 margin: 0; 
 padding: 8px 0; 
} 
.side-nav ul li a{ 
 display: block; 
 width: 10px; 
 height: 10px; 
 border-radius: 50%; 
} 
.default{ 
 background-color: #85939b; 
  
} 
.select{ 
 background-color: #45bcf9; 
} 

.navbar-brand{
	font-size: 30px;
	font-weight: bold;
	color: #40d2b1;
	font-family: "fangzheng";
}

.bg {display: table;width: 100%;height: 100%;padding: 100px 0;text-align: center;color: #fff;background-color: #000;background-size: cover;}  
.my-navbar {padding:20px 0;transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;}  
.my-navbar a{background:transparent !important;color:#FFFFFF !important}  
.my-navbar a:hover {color:#45bcf9 !important;background:transparent;outline:0}  
.my-navbar a {transition: color 0.5s ease-in-out;}/*-webkit-transition ;-moz-transition*/  
.top-nav {padding:0;background:#1B6D85;}  
button.navbar-toggle {background-color:#fbfbfb;}/*整个背景都是transparent透明的，会看不到，所以再次覆盖一下*/  
button.navbar-toggle > span.icon-bar {background-color:#dedede}  				                

.container{
    padding-left: 80px;
	width: 100%;
}
#myCarousel{
	height: 800px;
	width: 100%;
	position: absolute;
	background-position: center center;
	background-size: cover;
}

.carousel-inner{
    height: 800px;
	width: 100%;
}

.headh1content{
	margin-top: 150px;
	line-height: 110px;
	font-family: "fangzheng";
	font-size: 75pt;
}
.title-text{
  text-align: center;
}
.pageone{
	height: 800px;
	width: 100%;
	position: relative;
	background-image: url(../img/微信图片_20180427180635.jpg);
	background-position: center center;
	background-size: cover;
}
.login{
	height: 250px;
	margin-top: 200px;
	background: rgba(255,255,255,0.5);
	font-family: "fangzheng";
}
.form-login{
	margin-top: 25px;
}


.pagetwo{
    height:800px;
	width: 100%;
	padding-top: 50px;
	background-image:url(../img/微信图片_20180427180640.jpg);
	background-position: center center;
	background-size: cover;

}

/*去除轮播两侧的阴影*/
.carousel-control.left {  
  background-image:none;  
  background-repeat: repeat-x;  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);  
}  
.carousel-control.right {  
  left: auto;  
  right: 0;  
   
  background-image:none;  
  background-repeat: repeat-x;  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);  
} 
/*去除轮播两侧的阴影*/


.twopage-text{
	width: 100%;
	text-align: center;
}

.pagetwo-text-h1{
	letter-spacing: 2px;
	margin-bottom: 30px;
	font-family: "fangzheng";
}

.pagetwo-bbs{
padding: 0px;
}
.pagetwo-bbs-text{
	width: 100%;
	height: 100%;
	text-align: center;
	color: #000000;
	float: left;
	
}
.pagetwo-bbs-h1{
	margin-top: 10px;
	letter-spacing: 2px;
	font-family: "fangzheng";

}
.pagetwo-bbs-h3{
	margin-top: 10px;
	letter-spacing: 2px;
	font-family: "fangzheng";

}
.pagethree{
	width: 100%;
	height: 800px;
	padding-top: 50px;
	background-image:url(../img/微信图片_20180427180436.jpg);
	background-position: center center;
	background-size: cover;.

}
.foot{
	width: 100%;
	height: 150px;
}
