<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>CJBBS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>web.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>editpicservlet</servlet-name>
    <servlet-class>web.editpicservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editpicservlet</servlet-name>
    <url-pattern>/editpicservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contentservlet</servlet-name>
    <servlet-class>web.contentservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contentservlet</servlet-name>
    <url-pattern>/contentservlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>acnameservlet</servlet-name>
    <servlet-class>web.acnameservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acnameservlet</servlet-name>
    <url-pattern>/acnameservlet</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>acmailservlet</servlet-name>
    <servlet-class>web.acmailservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acmailservlet</servlet-name>
    <url-pattern>/acmailservlet</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>acphoneservlet</servlet-name>
    <servlet-class>web.acphoneservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acphoneservlet</servlet-name>
    <url-pattern>/acphoneservlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>registerservlet</servlet-name>
    <servlet-class>web.registerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerservlet</servlet-name>
    <url-pattern>/registerservlet</url-pattern>
  </servlet-mapping>
</web-app>